.header {
    background-color:#006888;
    color:#ffffff;
    font-size: 36px;
}

.footer {
    background-color:#006888;
    color:#ffffff;
}

#title {
    font-weight:bold;
}

p.paperimg {
    max-width:600px;
}

p.paperimg img {
    width:100%;
}

.table {
    width:200px;
}

#tables {
    margin-top: 20px;
}