.header {
    background-color:#790088;
    color:#ffffff;
    font-size: 36px;
}

.footer {
    background-color:#790088;
    color:#ffffff;
}

#title {
    font-weight:bold;
}

p.paperimg {
    max-width:600px;
}

p.paperimg img {
    width:100%;
}

p.studyimage{
  margin-top: 20px;
  min-width:200px;
  max-width:600px;
}

p.studyimage img {
  width:100%
}

p.demomovie{
  margin-top: 20px;
  min-width:200px;
  max-width:600px;
}

p.demomovie video {
  width:100%
}

.carousel-caption p {
  color:#000000;
}

.table {
    width:200px;
}

#tables {
    margin-top: 20px;
}
